# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
apps/**/prisma/migrations/.gitkeep

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# testing / coverage
coverage/

# misc
*.tsbuildinfo
.env.vault
